<link rel="stylesheet" href="/css/main.css">
<nav id="nav">
    <a href="/">Home</a>
    <% if (user && user.isAdmin) { %>
        <a href="/monsters">Monsters' Index</a>
        <a href="/inventorys">Inventory Index</a>
        <a href="/characters">Player's Index</a>
        <a href="/select-character">Select Player</a> 
        <a href="/auth/sign-out">Sign Out</a>
        <a href="/admins">Admin</a>
    <% } else if(user) { %>
        <a href="/monsters">Monsters</a>
        <a href="/inventorys">Inventory</a>
        <a href="/characters">AllCharacters</a>
        <a href="/select-character">select</a>
        <a href="/battle">Battle</a>
        <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>