<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Inventory</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Here's all the Inventory</h1>

    <ul>
        <% if (inventorys.length > 0) { %>
            <% inventorys.forEach((inventory) => { %>
                <li>
                    <a href="/inventorys/<%= inventory._id %>"><%= inventory.name %> </a>
                </li>
            <% }) %>
        <% } else { %>
            <li>No inventory found. 
        <% } %>
    </ul>
</body>

</html>