<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Shop Item</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add Shop Item</h1>
    <form action="/admins/shops/new" method="POST">
        <div>
            <label for="inventory">Item:</label>
            <select name="inventory" id="inventory" multiple class="selectBox">
                <% inventory.forEach(item => { %>
                    <option value="<%= item._id %>"><%= item.name %></option>
                <% }); %>
            </select>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" value="0" required>
        </div>
        <button type="submit">Add Item</button>
    </form>
</body>
</html>