<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1></h1>
    <% if (users.length > 0) { %>
        <ul>
          <% users.forEach((item)=> { %>
          <li>
            <a href= "/users/<%= item._id %>"><%= item.username %></a>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
          <h3>There are no users!</h3>
          <% } %>
  </body>
</html>