<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Character</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Select Your Character</h1>
    <form action="/battle" method="POST">
        <label for="character">Choose a Character:</label>
        <select name="characterId" id="character">
            <% characters.forEach(character => { %>
                <option value="<%= character._id %>"><%= character.name %></option>
            <% }) %>
        </select>
        <button type="submit">Select</button>
    </form>
</body>
</html>